<h1>Todo App</h1>
<div class="p-grid">
	<div class="p-col-4">
		<div class="p-d-flex">
			<span class="p-float-label">
				<input class="p-inputtext" id="float-input" type="text" pInputText [(ngModel)]="todoListModel.Name">
				<label for="float-input">Add a task</label>
			</span>
			<button pButton pRipple class="p-button-raised p-ml-2" label="Add" icon="pi pi-plus" (click)="addTask(todoListModel.Name)"></button>
		</div>
	</div>
</div>
<div class="p-grid">
	<div class="p-col-4">
		<h2>TODO</h2>
		<p-card *ngFor="let item of todoList" [style]="{'width': '100%', 'margin-bottom': '1em'}">
			<h3>{{ item.Name }}</h3>
			<ng-template pTemplate="footer">
				<button pButton pRipple class="p-button-raised p-button-success" (click)="doneTask(item)" label="Done"
					icon="pi pi-check"></button>
				<button pButton pRipple class="p-button-raised p-button-danger p-ml-2" (click)="deleteTask(item.Id)"
					label="Delete" icon="pi pi-trash"></button>
			</ng-template>
		</p-card>
	</div>
	<div class="p-col-4">
		<h2>DONE</h2>
		<p-card *ngFor="let item of todoListDone" [style]="{'width': '100%', 'margin-bottom': '1em'}">
			<h3>{{ item.Name }}</h3>
			<ng-template pTemplate="footer">
				<button pButton pRipple class="p-button-raised p-button-success" (click)="doneTask(item.Id)" label="Done"
					icon="pi pi-check"></button>
				<button pButton pRipple class="p-button-raised p-button-danger p-ml-2" (click)="deleteTask(item.Id)"
					label="Delete" icon="pi pi-trash"></button>
			</ng-template>
		</p-card>
	</div>
</div>